Options -MultiViews
RewriteEngine On
RewriteBase /
RewriteRule ^wc2026(/|$) - [L]
RewriteRule ^$ /landing.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
